<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>HomePage </title>
</head>

<body>
    <div class="jumbotron text-center">
        <h2>HOME PAGE</2>
            <caption>
                <ul class=" nav">
                    <h3>
                        <b>
                            <a href="https://sanxuat.herokuapp.com/simple"> SIMPLE CHART</a>
                            <a> &nbsp; </a>
                            <a href="https://sanxuat.herokuapp.com/data-analysys"> DATA ANALYSIS</a>
                            </b>
                    </h3>
                </ul>
            </caption>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="font-size: 18px; font-weight: bold;">
                <p>Introduction to project.................................................</p>
                <p>Team Information........................................................</p>
            </div>
        </div>
    </div>
</body>

</html>